@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
    --icon-color-light: hsl(223, 87%, 63%);
    --alert-color-light: hsl(354, 100%, 66%);
    --header-color-light: hsl(0, 0%, 59%);
    --span-color-light: hsl(209, 33%, 12%);
    --shadow-light: 0 3px 10px 2px hsl(223, 100%, 88%);
    --bg-light: #fff;
    --att-color-light: #000;
    --fill-color-light: #15202a;
    --box-shadow-light: 0px 2px 5px 1px rgba(0, 0, 0, 0.5),
        inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

    --icon-color-dark: hsl(223, 87%, 63%);
    --alert-color-dark: hsl(354, 70%, 67%);
    --header-color-dark: hsl(0, 0%, 59%);
    --span-color-dark: hsl(217, 54.2%, 88%);
    --bg-dark: hsl(218, 15.4%, 10.2%);
    --shadow-dark: 0 3px 10px 2px hsla(220, 3%, 38%, 0.927);
    --att-color-dark: whitesmoke;
    --fill-color-dark: #fff;
    --box-shadow-dark: 0px 2px 5px 1px rgba(0, 0, 0, 0.5),
        inset 0px -5px 6px -2px rgba(0, 0, 0, 0.5);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    min-height: 100dvh;
    background-color: var(--bg);
}

main {
    display: grid;
    place-items: center;
    padding-block-start: 5.4rem;
}

main .theme {
    width: 50px;
    height: 35px;
    background-color: var(--icon-color-light);
    position: absolute;
    top: 3rem;
    right: 5rem;
    display: grid;
    place-items: center;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

main .theme:focus {
    background-color: var(--icon-color-light);
}

.fa-solid {
    color: whitesmoke;
}

main .logo .ping-logo-wrapper {
    width: 200px;
    height: 200px;
}

main .logo .ping_logo {
    fill: var(--fill-color);
}

main .header {
    font-weight: 300;
    font-size: 4.7rem;
    color: var(--header-color);
    margin-top: -5.5rem;
}

main .header span {
    color: var(--span-color);
    font-weight: 700;
}

main .info {
    font-weight: 300;
    font-size: 1.8rem;
    padding-block-start: 1.5rem;
    color: var(--fill-color);
}

main form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block-start: 3rem;
    padding-inline: 20rem;
    width: 100%;
}

main form .input-wrapper {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}

main form .input-wrapper input {
    border: 1px solid var(--icon-color);
    width: 100%;
    padding-inline: 2rem;
    padding-block: 1.7rem;
    border-radius: 55px;
}

::placeholder {
    color: darkgray;
    font-weight: 300;
    font-size: 1rem;
}

main form .input-wrapper #alert,
main form .input-wrapper #form-alert {
    position: absolute;
    padding-block-start: 0.5rem;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 600;
    visibility: hidden;
    color: var(--alert-color);
    left: 2rem;
}

main form #submit-button {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    background-color: var(--icon-color);
    border-radius: 50px;
    box-shadow: var(--shadow);
    color: #fff;
    padding: 1.7rem 0;
    width: 48%;
    cursor: pointer;
    font-size: 1.3rem;
}

main form #submit-button:hover {
    opacity: 0.8;
}

main .illustration {
    padding-top: 7rem;
}

main .illustration img {
    width: 1100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    padding-top: 4.2rem;
}

footer .icon a {
    --size: 50px;

    border: 1px solid var(--Pale-Blue);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .icon a:hover {
    background-color: var(--icon-color);
    color: #fff;
}

footer .copyright {
    font-size: 1.2rem;
    color: var(--header-color);
    padding-top: 1.65rem;
}

.attribution {
    color: var(--att-color);
}

/* Media Query */
@media (max-width: 1440.98px) {
    main {
        padding-block-start: 4.9rem;
    }

    main .logo .ping-logo-wrapper {
        width: 90px;
        height: 86px;
    }

    main .header {
        font-size: 3rem;
        margin-top: -0.6rem;
    }

    main .info {
        font-size: 1.26rem;
        padding-block-start: 1.05rem;
    }

    main form {
        padding-block-start: 2.55rem;
        padding-inline: 25rem;
    }

    main form .input-wrapper input {
        padding-block: 1.16rem;
    }

    main form #submit-button {
        padding: 1.16rem 0;
        font-size: 1rem;
    }

    main .illustration {
        padding-top: 5.3rem;
    }

    main .illustration img {
        width: 640px;
    }

    footer .icon {
        padding-top: 4.3rem;
    }

    footer .icon a {
        --size: 30px;

        width: var(--size);
        height: var(--size);
        font-size: 1rem;
    }

    footer .copyright {
        font-size: 0.75rem;
        padding-top: 1.53rem;
    }
}

@media (max-width: 1280.98px) {
    main form {
        padding-inline: 15rem;
    }
}

@media (max-width: 1140.98px) {
    main form {
        padding-inline: 10rem;
    }
}

@media (max-width: 992.98px) {
    main form {
        padding-inline: 7rem;
    }
}

@media (max-width: 768.98px) {
    main form {
        padding-inline: 3rem;
    }

    main .theme {
        right: 2rem;
        box-shadow: var(--box-shadow);
    }
}

@media (max-width: 650.98px) {
    main form {
        flex-direction: column;
    }

    main form .input-wrapper #alert,
    main form .input-wrapper #form-alert {
        top: 8.5rem;
        left: 0;
    }

    main form #submit-button {
        width: 100%;
    }

    main .illustration img {
        width: 550px;
    }
}

@media (max-width: 576.98px) {
    main form {
        padding-inline: 2rem;
    }

    main .header {
        font-size: 2.2rem;
    }

    main .illustration img {
        width: 480px;
    }
}

@media (max-width: 499.98px) {
    main .illustration img {
        width: 420px;
    }
}

@media (max-width: 420.98px) {
    main .header {
        font-size: 1.9rem;
    }

    main .illustration img {
        width: 330px;
    }

    main .theme {
        right: 1rem;
    }

    footer .attribution {
        font-size: 0.8rem;
    }
}

@media (max-width: 320.98px) {
    main .header {
        font-size: 1.5rem;
    }

    main .info {
        font-size: 1rem;
    }

    main .illustration img {
        width: 290px;
    }

    main form {
        padding-inline: 1rem;
    }

    main form .input-wrapper input,
    main form #submit-button {
        padding-inline: 1rem;
        padding-block: 1.1rem;
    }

    ::placeholder {
        font-size: 0.8rem;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --icon-color: var(--icon-color-light);
        --alert-color: var(--alert-color-light);
        --header-color: var(--header-color-light);
        --span-color: var(--span-color-light);
        --shadow: var(--shadow-light);
        --bg: var(--bg-light);
        --att-color: var(--att-color-light);
        --fill-color: var(--fill-color-light);
        --box-shadow: var(--box-shadow-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--bg-dark);
        --header-color: var(--header-color-dark);
        --span-color: var(--span-color-dark);
        --shadow: var(--shadow-dark);
        --alert-color: var(--alert-color-dark);
        --icon-color: var(--icon-color-dark);
        --att-color: var(--att-color-dark);
        --fill-color: var(--fill-color-dark);
        --box-shadow: var(--box-shadow-dark);
    }
}

[color-scheme="light"] {
    --icon-color: var(--icon-color-light);
    --alert-color: var(--alert-color-light);
    --header-color: var(--header-color-light);
    --span-color: var(--span-color-light);
    --shadow: var(--shadow-light);
    --bg: var(--bg-light);
    --att-color: var(--att-color-light);
    --fill-color: var(--fill-color-light);
    --box-shadow: var(--box-shadow-light);
}

[color-scheme="dark"] {
    --bg: var(--bg-dark);
    --header-color: var(--header-color-dark);
    --span-color: var(--span-color-dark);
    --shadow: var(--shadow-dark);
    --alert-color: var(--alert-color-dark);
    --icon-color: var(--icon-color-dark);
    --att-color: var(--att-color-dark);
    --fill-color: var(--fill-color-dark);
    --box-shadow: var(--box-shadow-dark);
}
